@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "Poppins", sans-serif;
}
.hero_sec_wrap {
  background: url(../src/assets/images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
}

.hero_gradient {
  padding: 20px 10px;
  background: linear-gradient(356.01deg, rgba(7, 47, 87, 0.75) 50.8%, rgba(7, 47, 87, 0) 94.58%),
    linear-gradient(0deg, rgba(7, 47, 87, 0.45), rgba(7, 47, 87, 0.45));
}

.c_names{
  border: 1px solid #FBA02D;
}

@media (max-width:596px) {
  .hero_sec_wrap .inp_field_wrap input::placeholder{
        font-size: 10px;
  }
}



